@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

/* CSS Reset end */

.side-nav {
  position: fixed;
  width: 250px;
  height: 100%;
  border-right: 2px solid #e3e8f0;
  background-color: #fdfdff;
}

.nav-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 30px;
  cursor: pointer;
  text-decoration: none;
}

.nav-logo h1 {
  font-size: 40px;
  margin-left: 5px;
  font-weight: 500;
  color: #111;
}

.bloc-link {
  padding: 20px;
  display: flex;
  align-items: center;
  font-weight: 300;
  color: #838f9f;
  text-decoration: none;
}

.bloc-link:hover {
  background: #f8f8f8;
}

.bloc-link img {
  width: 20px;
}

.nav-links {
  font-size: 16px;
  margin-left: 12px;
}

.bloc-link.active {
  background-color: #e9e9e9;
}

.bloc-link.active .nav-links {
  color: #35b670;
  font-weight: 500;
}

/* Main */

.main-content {
  padding: 30px;
  margin-left: 250px;
}

.input-control {
  max-width: 450px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 6px;
}

.input-control img {
  width: 20px;
  top: 2px;
  position: relative;
}

.input-control input {
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #000;
  background-color: #f4f4f4;
  outline: none;
}

.input-control input::placeholder {
  color: #838f9f;
  font-size: 16px;
}

.section-title {
  font-size: 25px;
  margin: 20px 0;
}
